@{
    ViewData[PageInfo.PageTitle] = "Home";
    ViewData[PageInfo.PageHeader] = "Home";
    Layout = "~/Views/Shared/_LayoutMDSir.cshtml";

}
<div class="row">
    <div class="col-md-12">

    </div>
</div>