@model RG.Application.ViewModel.AlgoHR.Setup.UserDepartmentAccess.UserDepartmentAccessVM
@{
    ViewData[PageInfo.PageTitle] = "User Department & Section";
    ViewData[PageInfo.PageHeader] = "User Department & Section";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="container">


</div>

 
